<article id="<%= dom_id organization %>">
  <p>
    <strong>Slug:</strong>
    <%= organization.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Rubyevents slug:</strong>
    <%= organization.rubyevents_slug %>
  </p>

  <p>
    <strong>Sponsored events:</strong><br>
    <ul>
      <% organization.sponsor_tiers.each do |sponsor_tier| %>
        <li><%= link_to sponsor_tier.event %> (<%= sponsor_tier.to_s %>)</li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Description:</strong>
    <%= organization.description %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= organization.website %>
  </p>

  <p>
    <strong>Logo background:</strong>
    <%= organization.logo_background %>
  </p>

  <p>
    <strong>Logo url:</strong>
    <%= organization.logo_url %>
  </p>

  <p>
    <strong>Main location:</strong>
    <%= organization.main_location %>
  </p>

</article>
