<header class="header" data-compiler="header" up-data="<%= {  }.to_json %>">
  <nav>
    <%= link_to "Home", page_path("welcome") %>
    <%= link_to "Events", events_events_path %>
    <%= link_to "Talks", talks_talks_path %>
    <%= link_to "Sponsors", sponsors_sponsorships_path %>
  </nav>
</header>
