<article id="<%= dom_id sponsor_tier %>">
  <p>
    <strong>Slug:</strong>
    <%= sponsor_tier.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= sponsor_tier.name %>
  </p>

  <p>
    <strong>Rubyevents slug:</strong>
    <%= sponsor_tier.rubyevents_slug %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= link_to sponsor_tier.event %>
  </p>

  <p>
    <strong>Organizations:</strong><br>
    <ul>
      <% sponsor_tier.organizations.each do |organization| %>
        <li><%= link_to organization %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sponsor_tier.description %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= sponsor_tier.level %>
  </p>

</article>
