<article id="<%= dom_id sponsor_tier %>">
  <p>
    <strong>Slug:</strong>
    <%= sponsor_tier.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= sponsor_tier.name %>
  </p>

  <p>
    <strong>Rubyevents slug:</strong>
    <%= sponsor_tier.rubyevents_slug %>
  </p>

  <p>
    <strong>Events event:</strong>
    <%= sponsor_tier.events_event_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sponsor_tier.description %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= sponsor_tier.level %>
  </p>

</article>
