<article id="<%= dom_id talk %>">
  <p>
    <strong>Slug:</strong>
    <%= talk.slug %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= talk.title %>
  </p>

  <p>
    <strong>Rubyevents slug:</strong>
    <%= talk.rubyevents_slug %>
  </p>

  <p>
    <strong>Events event:</strong>
    <%= talk.events_event_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= talk.description %>
  </p>

  <p>
    <strong>Raw title:</strong>
    <%= talk.raw_title %>
  </p>

  <p>
    <strong>Original title:</strong>
    <%= talk.original_title %>
  </p>

  <p>
    <strong>Slides url:</strong>
    <%= talk.slides_url %>
  </p>

  <p>
    <strong>External:</strong>
    <%= talk.external_id %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= talk.kind %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= talk.status %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= talk.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= talk.time %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= talk.published_at %>
  </p>

  <p>
    <strong>Announced at:</strong>
    <%= talk.announced_at %>
  </p>

  <p>
    <strong>Removed:</strong>
    <%= talk.removed %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= talk.location %>
  </p>

  <p>
    <strong>Video provider:</strong>
    <%= talk.video_provider %>
  </p>

  <p>
    <strong>Video:</strong>
    <%= talk.video_id %>
  </p>

  <p>
    <strong>External player:</strong>
    <%= talk.external_player %>
  </p>

  <p>
    <strong>External player url:</strong>
    <%= talk.external_player_url %>
  </p>

  <p>
    <strong>Track:</strong>
    <%= talk.track %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= talk.language %>
  </p>

</article>
