<article id="<%= dom_id sponsorship %>">
  <p>
    <strong>Slug:</strong>
    <%= sponsorship.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= sponsorship.name %>
  </p>

  <p>
    <strong>Rubyevents slug:</strong>
    <%= sponsorship.rubyevents_slug %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= link_to sponsorship.organization %>
  </p>

  <p>
    <strong>Sponsor tier:</strong>
    <%= link_to sponsorship.sponsor_tier %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= sponsorship.description %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= sponsorship.website %>
  </p>

  <p>
    <strong>Logo url:</strong>
    <%= sponsorship.logo_url %>
  </p>

  <p>
    <strong>Badge:</strong>
    <%= sponsorship.badge %>
  </p>

</article>
