<article id="<%= dom_id person %>">
  <p>
    <strong>Slug:</strong>
    <%= person.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Rubyevents slug:</strong>
    <%= person.rubyevents_slug %>
  </p>

  <p>
    <strong>Talks:</strong><br>
    <ul>
      <% person.talks.each do |talk| %>
        <li><%= link_to talk %> at <%= talk.event %></li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong>Github:</strong>
    <%= person.github %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= person.twitter %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= person.website %>
  </p>

  <p>
    <strong>Mastodon:</strong>
    <%= person.mastodon %>
  </p>

  <p>
    <strong>Bluesky:</strong>
    <%= person.bluesky %>
  </p>

  <p>
    <strong>Linkedin:</strong>
    <%= person.linkedin %>
  </p>

  <p>
    <strong>Speakerdeck:</strong>
    <%= person.speakerdeck %>
  </p>

</article>
