<article id="<%= dom_id event %>">
  <p>
    <strong>Slug:</strong>
    <%= event.slug %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Rubyevents slug:</strong>
    <%= event.rubyevents_slug %>
  </p>

  <p>
    <strong>Venues venue:</strong>
    <%= event.venues_venue_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= event.kind %>
  </p>

  <p>
    <strong>Hybrid:</strong>
    <%= event.hybrid %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= event.status %>
  </p>

  <p>
    <strong>Last edition:</strong>
    <%= event.last_edition %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= event.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= event.end_date %>
  </p>

  <p>
    <strong>Published at:</strong>
    <%= event.published_at %>
  </p>

  <p>
    <strong>Announced on:</strong>
    <%= event.announced_on %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= event.year %>
  </p>

  <p>
    <strong>Date precision:</strong>
    <%= event.date_precision %>
  </p>

  <p>
    <strong>Frequency:</strong>
    <%= event.frequency %>
  </p>

  <p>
    <strong>Channel:</strong>
    <%= event.channel_id %>
  </p>

  <p>
    <strong>Playlist:</strong>
    <%= event.playlist %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= event.website %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= event.twitter %>
  </p>

  <p>
    <strong>Mastodon:</strong>
    <%= event.mastodon %>
  </p>

  <p>
    <strong>Github:</strong>
    <%= event.github %>
  </p>

  <p>
    <strong>Meetup:</strong>
    <%= event.meetup %>
  </p>

  <p>
    <strong>Luma:</strong>
    <%= event.luma %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= event.youtube %>
  </p>

  <p>
    <strong>Tickets url:</strong>
    <%= event.tickets_url %>
  </p>

  <p>
    <strong>Banner background:</strong>
    <%= event.banner_background %>
  </p>

  <p>
    <strong>Featured background:</strong>
    <%= event.featured_background %>
  </p>

  <p>
    <strong>Featured color:</strong>
    <%= event.featured_color %>
  </p>

  <p>
    <strong>Online event:</strong>
    <%= event.online_event %>
  </p>

</article>
