<article id="<%= dom_id venue %>">
  <p>
    <strong>Slug:</strong>
    <%= venue.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= venue.name %>
  </p>

  <p>
    <strong>Rubyevents slug:</strong>
    <%= venue.rubyevents_slug %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= venue.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= venue.url %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= venue.instructions %>
  </p>

  <p>
    <strong>Accessibility wheelchair:</strong>
    <%= venue.accessibility_wheelchair %>
  </p>

  <p>
    <strong>Accessibility elevators:</strong>
    <%= venue.accessibility_elevators %>
  </p>

  <p>
    <strong>Accessibility restrooms:</strong>
    <%= venue.accessibility_restrooms %>
  </p>

  <p>
    <strong>Accessibility notes:</strong>
    <%= venue.accessibility_notes %>
  </p>

  <p>
    <strong>Nearby public transport:</strong>
    <%= venue.nearby_public_transport %>
  </p>

  <p>
    <strong>Nearby parking:</strong>
    <%= venue.nearby_parking %>
  </p>

</article>
